<!DOCTYPE HTML>
<html>

<head>
  <title>A sample HTML5 two-column layout</title>
  <meta name="description" content="Web interface for photo metadata.">
  <meta name="keywords" content="photo-api virtual world.">

  <link href="css/reset.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">

  <script>
    document.createElement('article');
    document.createElement('section');
    document.createElement('aside');
    document.createElement('hgroup');
    document.createElement('nav');
    document.createElement('header');
    document.createElement('footer');
    document.createElement('figure');
    document.createElement('figcaption');
  </script>
</head>

<body>

  <div id="wrapper">

    <header>

      <div id="logo"> <img
          src="http://www.everythingaboutweb.com/classes/examples/html5-two-column-style/images/everything-about-web.png"
          width="394" height="146" alt="everything about web"></div>

      <nav>

        <ul>
          <li class="highlight"><a href="index.html">Home</a></li>
          <li><a href="about.html">Identities</a></li>
          <li><a href="tutorials.html">Associate Faces</a></li>
        </ul>

      </nav>


    </header>

    <div id="content">

      <!--<h1>Learning HTML 5 The Two-Column Layout</h1>-->
      <h1>
        {% block pageheader %}
        {% endblock %}
      </h1>

      <section>
        {% block maincontent %}
        {% endblock %}
        <!--
        <article>
          <h2>Heading</h2>
          <p>Genuine investments university art purebred investments. Imported property philanthropic estate, designer,
            first-class educated dynasty luxury purebred manor high-rise enthusiast. Inspiring diplomatatic pedigree
            wine vacation cutlery genuine wine handmade. Repertoire panoramic townhome, enthusiast, pearl gilded
            brilliant gentlemen, charity purebred. Impressive investments crafted, accredited, marquis affluent
            repertoire doctoral, enthusiast. </p>
        </article>

        <article>
          <h2>Heading</h2>
          <p>Using cutlery fashion suite, portfolio guests fashion dynasty, wine rare investments a. Affluent sport
            noble first-class, sterling butler. European, townhome travel university, stockmarket in bonds art educated
            presidential le panoramic brokerage. Fashion with wealth le marquis townhome classical suite property
            auction purebred.</p>
        </article>
        -->
      </section>
    </div> <!-- /end #content-->


    <div id="rightcol">

      <aside>

        <h2>Recent Posts</h2>
        <h3>Subheading</h3>
        <p>This is a short description.</p>
        <h3>Subheading</h3>
        <p>This is a short description.</p>
        <h3>Subheading</h3>
        <p>This is a short description.</p>

      </aside>

    </div>
    <!-- /end #rightcol-->



    <footer>
      <p><a href="http://photo-api.virtual.world">photo-api.virtual.world</a> &copy; nateb.</p>
    </footer>

  </div> <!-- /end #wrapper-->
</body>

</html>