virtualenv
aws-cdk.core
aws-cdk.aws_s3
aws-cdk.aws_lambda
aws-cdk.aws_lambda_event_sources
aws-cdk.aws_efs
aws_cdk.aws_lambda_event_sources
aws_cdk.aws_ecs_patterns
aws_cdk.aws_rds
aws_cdk.aws_elasticsearch
aws_cdk.aws_directoryservice
aws_cdk.aws_eks
aws_cdk.aws_acmpca
aws_cdk.aws_route53resolver
aws_cdk.aws_backup